{% extends "templates/store/main.html" %}
{% load static %}
{% block content %}
       <!-- ****** Offer Area Start ****** -->
        <section class="offer_area height-800 section_padding_100 bg-img" style="background-image: url(/static/img/bg-img/bg-6.jpg);">
            <div class="container h-80 text-center">
                <div class="row h-100 align-items-end justify-content-end">
                    <div class="col-12">
                        <div class="offer-content-area wow fadeInUp" data-wow-delay="1s">
                            <h2>Who We Are</h2>
                            <p class="big text-gray-800">Regomoditswe  Tshepang  Sefako,  a  22  year  young  lady  is  
                            the beautiful  brains  behind  this  beautiful  brand  called  S.H.E Organic  Body  &  Skincare.
                            </p>
                            <p>S.H.E  Organic  Body  &  Skin  Care  Products  are  designed  by  a woman for 
                            women but don’t  loose  your  breath  yet,  men  are catered  for  as  well.  S.H.E 
                            Organic  Body  &  SkinCare  is  an organic  luxury  brand  designed  to  help  one  relax  at  
                            the  same time  help  boost  their  skin  health.    As  a  lover  of  Beauty  and Skincare, 
                            I  thought  it  was  fitting  to  create  products  that  will make  people  feel  free  and 
                            beautiful  in  their  own  skin  with  no doubt  whatsoever  and  S.H.E  Organic  Body  & 
                            Skincare Products  promise  to  deliver  exactly  that.  Please  note  that none  of  the  products  are  designed
                            to  heal  any  diagnosed skin  condition  but  to  help  ease  and  reduce  the  appearance of  some.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- ****** Offer Area End ****** -->
{% endblock content%}