
{% extends "templates/store/main.html" %}
{% load static %}
{% block content %}
        <!-- ****** Checkout Area Start ****** -->
        <div class="checkout_area section_padding_100">
            <div class="container">
                <div class="row">

                    <div class="col-12 col-md-6 col-lg-5 ml-lg-auto">
                        <div class="order-details-confirmation">

                            <div class="cart-page-heading">
                                <h5>Your Order</h5>
                                <p>The Details</p>
                            </div>

                            <ul class="order-details-form mb-4">
                                <li><span>Product</span>Quantity<span>Total</span></li>
                                {% for item in items %}
                                <li style="font-size:6pt;!important"><span>{{item.product.name}} ({{item.product.measurement}}) </span>x{{item.quantity}}<span>R{{item.get_total|floatformat:2}}</span></li>
                                {% endfor %}
                                <li><span style="font-weight:bold;">Delivery</span> <span>Free</span></li>
                                <li><span style="font-weight:bold;">Total</span> <span>R {{order.get_cart_total|floatformat:2}}</span></li>
                            </ul>

                            
                        </div>
                    </div>

                    <div class="col-12 col-md-6">
                        <div class="checkout_details_area mt-50 clearfix">

                            <div class="cart-page-heading">
                                <h5>Delivery Information</h5>
          
                            </div>

                            <form id="form">
                                <div class="row">
                                    <div id="user-info" style="width:100%;">
                                    <div class="col-md-12 mb-3">
                                        <label for="first_name">First Name <span>*</span></label>
                                        <input type="text" class="form-control" id="first_name" name="name">
                                    </div>
                                    <div class="col-md-12 mb-3">
                                        <label for="last_name">Last Name <span>*</span></label>
                                        <input type="text" class="form-control" id="last_name" name="surname">
                                    </div>
                                     <div class="col-12 mb-3">
                                        <label for="phone_number">Phone No <span>*</span></label>
                                        <input type="text" class="form-control" id="phone_number" name="phone">
                                    </div>
                                    <div class="col-12 mb-4">
                                        <label for="email_address">Email Address <span>*</span></label>
                                        <input type="email" class="form-control" id="email_address" name="email">
                                    </div>
                                    </div>
                                    <div class="col-12 mb-3">
                                        <label for="street_address">Address <span>*</span></label>
                                        <input type="text" class="form-control mb-3" id="street_address" name="address" required>
                                        
                                    </div>
                                    <div class="col-12 mb-3">
                                        <label for="postcode">Postcode <span>*</span></label>
                                        <input type="text" class="form-control" id="postcode" name="zipcode" required>
                                    </div>
                                    <div class="col-12 mb-3">
                                        <label for="city">Town/City <span>*</span></label>
                                        <input type="text" class="form-control" id="city" name="city" required>
                                    </div>
                                    <div class="col-12 mb-3">
                                        <label for="state">Province <span>*</span></label>
                                        <input type="text" class="form-control" id="state" name="state" required>
                                    </div>
                                </div>
                                <input type="submit" id="form-button" class="btn karl-checkout-btn" value="Place Order">
                            </form>
                        </div>
                    </div>


                </div>
            </div>
        </div>
        <!-- ****** Checkout Area End ****** -->
        <script type="text/javascript">
            var total = {{order.get_cart_total|floatformat:2}}
            document.getElementById('user-info').style.display = "none";
            if (user == 'AnonymousUser'){
                document.getElementById('user-info').style.display = "block";
            }
            var form = document.getElementById('form')
            form.addEventListener('submit', function(e){
                e.preventDefault()
                console.log('Form Submitted...')
                submitFormData()   
            })
            function submitFormData(){

                var userFormData = {
                    'name':null,
                    'surname':null,
                    'email':null,
                    'phone':null,
                    'total':total,
                }

                var shippingInfo = {
                    'address':form.address.value,
                    'city':form.city.value,
                    'state':form.state.value,
                    'zipcode':form.zipcode.value,
                }

                if (user == 'AnonymousUser'){
                    userFormData.name = form.name.value
                    userFormData.surname = form.surname.value
                    userFormData.phone = form.phone.value
                    userFormData.email = form.email.value
                }

                var url = "process_order"
                fetch(url, {
                    method:'POST',
                    headers:{
                        'Content-Type':'applicaiton/json',
                        'X-CSRFToken':csrftoken,
                    }, 
                    body:JSON.stringify({'form':userFormData, 'shipping':shippingInfo}),
                    
                })
                .then((response) => response.json())
                .then((data) => {
                    console.log('Success:', data);
                    alert('Order Successfully Placed');  

                    cart = {}
                    document.cookie ='cart=' + JSON.stringify(cart) + ";domain=;path=/"

                    window.location.href = "{% url 'shop' %}"

                    })
            }
        </script>
{% endblock content %}