{% extends "templates/store/main.html" %}
{% load static %}
{% block content %}
       <!-- <<<<<<<<<<<<<<<<<<<< Single Product Details Area Start >>>>>>>>>>>>>>>>>>>>>>>>> -->
	   <br/>
        <section class="single_product_details_area section_padding_0_100">
            <div class="container text-center align-content-center justify-content-center">
                <div class="row">

                    <div class="col-12">
                        <div class="single_product_desc">
                            <div class="order-details-confirmation">

                                <div class="cart-page-heading">
                                    <h3>Password Reset Complete</h3>
                                    <p>Your password has been set. You may go ahead and log in now.</p>
                                </div>      

                                <div class="container  mt-50 clearfix" style="width:50%;">
		                            <a href="{% url 'login' %}" class="btn btn-sm karl-checkout-btn">Log in</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- <<<<<<<<<<<<<<<<<<<< Single Product Details Area End >>>>>>>>>>>>>>>>>>>>>>>>> --> 

{% endblock content %}